/*----------------------COLORES------------------------*/
/*----------------------TIPOGRAFIAS Y FUENTES------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*-------------------GRID---------------*/
.container-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 888px 220px;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}

/*-------------------HEADER---------------*/
header {
  grid-area: header;
  background-color: #3b4d57;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: solid rgb(255, 255, 255) 1px;
  box-shadow: 0px 0px 10px #c4c2c2;
  position: sticky;
  z-index: 1;
  top: 0;
}
header .logo-sup {
  margin-left: 30px;
}

a .img-header {
  height: 65px;
}

nav {
  width: 100%;
}
nav .nav-menu {
  display: flex;
  justify-content: center;
}
nav .nav-menu li {
  list-style: none;
}
nav .nav-menu li .nav-palabras {
  text-decoration: none;
  padding: 25px 25px 10px 25px;
  color: #ffffff;
  font-weight: 900;
  font-size: 18px;
  font-family: "Montserrat", "sans-serif";
  margin-right: 30px;
}

.nav-palabras:hover {
  color: #e9c33a;
  line-clamp: initial;
  opacity: 0.8;
  border-bottom: 2px solid #e9c33a;
}

/*-------------------MAIN---------------*/
main {
  grid-area: main;
  background: linear-gradient(to right bottom, #3b4d57, #355366, #305876, #305c86, #365f96);
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-main .logo-main {
  padding: 15px;
  padding-top: 120px;
}
.container-main .logo-main .img-main {
  height: 340px;
}

.img-main {
  -webkit-animation: img-main 0.65s linear both;
  animation: img-main 0.65s linear both;
}

@-webkit-keyframes img-main {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@-webkit-keyframes img-main {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
    transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
.flecha-main {
  padding: 40px;
}
.flecha-main .img-flecha {
  height: 120px;
}

.flecha-main {
  -webkit-animation: flecha-main 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s infinite both;
  animation: flecha-main 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s infinite both;
}

@-webkit-keyframes flecha-main {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}
@keyframes flecha-main {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(50px);
    transform: translateY(25px);
  }
}
.boton-main {
  display: block;
  font-size: 45px;
  background-color: #e9c33a;
  border-radius: 40px;
  border: solid 1px white;
  box-shadow: 0px 0px 10px white;
  font-family: "Bangers", "cursive";
  padding: 10px 20px 10px 20px;
}
.boton-main a {
  text-decoration: none;
  color: #305876;
}
.boton-main a:hover {
  color: white;
  font-size: 50px;
  cursor: pointer;
}

.wsp-main {
  padding-top: 50px;
  padding-left: 25px;
  position: fixed;
  margin-left: 94%;
}
.wsp-main .img-wsp {
  height: 60px;
}
.wsp-main img:hover {
  height: 65px;
}

/*-------------------PRODUCTOS---------------*/
.productos-superior {
  display: flex;
  height: 200px;
  background-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
}
.productos-superior .texto-sup {
  margin-left: 200px;
  font-size: 25px;
  padding-left: 200px;
  color: #ffffff;
}
.productos-superior .texto-sup p {
  font-size: 15px;
  font-family: "Unbounded", "cursive";
}
.productos-superior .texto-sup .titulo-producto {
  display: flex;
  align-items: center;
  font-family: "Unbounded", "cursive";
}
.productos-superior .texto-sup .titulo-producto h2 {
  font-size: 52px;
}
.productos-superior .texto-sup .titulo-producto h1 {
  color: #e9c33a;
}

.productos-mini {
  width: 40%;
  margin-top: 200px;
  padding-left: 180px;
}
.productos-mini .producto-pacu-sup {
  height: 100px;
  margin-right: 30px;
}
.productos-mini .producto-pacu-sup:hover {
  padding: 5px;
}
.productos-mini .producto-seleccion-sup {
  height: 100px;
  margin-right: 30px;
}
.productos-mini .producto-seleccion-sup:hover {
  padding: 5px;
}

.tira-azul {
  color: #ffffff;
  background-color: rgba(187, 170, 111, 0.3882352941);
  height: 40px;
}
.tira-azul .titulo-producto2 {
  display: flex;
  justify-content: center;
  font-family: "Unbounded", "cursive";
}
.tira-azul .titulo-producto2 h2 {
  font-size: 30px;
}
.tira-azul .titulo-producto2 h1 {
  color: #e9c33a;
}

.paquete-pacu {
  display: flex;
  justify-content: center;
  margin-right: 40%;
}
.paquete-pacu .producto-pacu {
  height: 250px;
  margin-right: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.paquete-pacu .producto-pacu:hover {
  padding: 5px;
}

.producto-pacu {
  -webkit-animation: producto-pacu 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: producto-pacu 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes producto-pacu {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes producto-pacu {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(30px);
  }
}
.paquete-seleccion {
  display: flex;
  justify-content: center;
  margin-left: 40%;
}
.paquete-seleccion .producto-seleccion {
  height: 255px;
  margin-right: 30px;
  margin-top: 25px;
}
.paquete-seleccion .producto-seleccion:hover {
  padding: 5px;
}

.producto-seleccion {
  -webkit-animation: producto-seleccion 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: producto-seleccion 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes producto-seleccion {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes producto-seleccion {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-30px);
  }
}
.textos-productos {
  color: #ffffff;
  height: 15px;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", "sans-serif";
  margin-top: 15%;
  margin-left: 50px;
  margin-right: 50px;
}
.textos-productos li {
  height: 30px;
}
.textos-productos li a {
  color: #022553;
  text-decoration: none;
}

/*-------------------GALERIA---------------*/
.container-galeria {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  overflow: visible;
  color: #305876;
}
.container-galeria .imagenes-galeria {
  grid-area: galeria;
  height: 310px;
  padding: 2px;
  box-shadow: 1px 0px 15px 3px rgba(255, 255, 255, 0.2);
  object-fit: contain;
  transition: transform 0.5s;
}
.container-galeria .imagenes-galeria:hover {
  transform: rotate(10deg) scale(1.2);
}

.container-galeria2 {
  display: flex;
  color: #305876;
  justify-content: space-around;
  padding-top: 20px;
  overflow: visible;
  padding-bottom: 20px;
}
.container-galeria2 .imagenes-galeria {
  grid-area: galeria;
  height: 310px;
  padding: 2px;
  box-shadow: 1px 0px 15px 3px rgba(255, 255, 255, 0.2);
  object-fit: contain;
  transition: transform 0.5s;
}
.container-galeria2 .imagenes-galeria:hover {
  transform: rotate(10deg) scale(1.2);
}

/*-------------------NOSOTROS---------------*/
.contenedor-sup-nosotros {
  display: flex;
  height: 180px;
  background-color: rgb(0, 0, 0);
  align-items: center;
}

.texto-sup {
  margin-left: 200px;
  font-size: 25px;
  padding-left: 200px;
  color: #ffffff;
}
.texto-sup p {
  font-size: 15px;
  font-family: "Unbounded", "cursive";
}
.texto-sup .titulo-producto {
  display: flex;
  align-items: center;
  font-family: "Unbounded", "cursive";
}
.texto-sup .titulo-producto h2 {
  font-size: 52px;
}
.texto-sup .titulo-producto h1 {
  color: #e9c33a;
}

.nosotros-fotos {
  display: flex;
  height: 190px;
  align-items: center;
}
.nosotros-fotos .nosotros-logo {
  height: 100px;
  margin-left: 40px;
}
.nosotros-fotos .img-fabrica2 {
  height: 170px;
  margin: 22px;
  margin-right: 70px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}
.nosotros-fotos .img-fabrica2:hover {
  height: 190px;
  cursor: pointer;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.nosotros-fotos p {
  padding: 55px;
  color: white;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", "sans-serif";
  text-align: justify;
}

/*-------------------CONTACTO---------------*/
.main-contacto {
  background: linear-gradient(to right bottom, #3b4d57, #355366, #305876, #305c86, #365f96);
  height: 92vh;
}

.titulo-contacto {
  color: white;
  font-size: 25px;
  width: 100%;
  text-align: center;
  padding: 15px;
  border-bottom: solid white 1px;
}

.caja-vender {
  display: flex;
  justify-content: center;
}
.caja-vender div a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Unbounded", "cursive";
}
.caja-vender .otro-color {
  color: #e9c33a;
}

.sugerencia {
  background-color: rgba(187, 170, 111, 0.3882352941);
  font-size: 20px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sugerencia:hover {
  color: #ffffff;
}

.caja-form {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 35px;
}
.caja-form .texto-contacto {
  background-color: #f5f0f0;
  height: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 5px;
}
.caja-form .texto-contacto p {
  width: 700px;
  padding: 70px;
  font-size: 25px;
  font-family: "Montserrat", "sans-serif";
  color: black;
  font-weight: 500;
}

.formulario {
  width: 700px;
  height: 300px;
  margin-left: 90px;
  border: none;
  border-radius: 5px;
}
.formulario fieldset legend {
  display: flex;
}
.formulario .nombre {
  width: 315px;
  border-color: #ffffff;
}
.formulario .apellido {
  width: 315px;
  border-color: #ffffff;
}
.formulario .email {
  width: 315px;
  border-color: #ffffff;
}
.formulario .telefono {
  width: 315px;
  border-color: #ffffff;
}
.formulario .motivo {
  width: 656px;
  height: 100px;
  border-color: #ffffff;
}
.formulario .codigo {
  width: 198px;
  border-color: #ffffff;
}
.formulario .provincia {
  width: 202px;
  border-color: #ffffff;
}
.formulario .ciudad {
  width: 202px;
  border-color: #ffffff;
}
.formulario .establecimiento {
  width: 656px;
  border-color: #ffffff;
}
.formulario .botom-form {
  display: flex;
  justify-content: center;
}

.titulo-form {
  color: #ffffff;
  font-weight: 600;
  justify-content: center;
}

.contacto-inferior {
  background-color: rgba(187, 170, 111, 0.3882352941);
  font-size: 20px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contacto-inferior .letra-contactos {
  text-decoration: none;
  color: #ffffff;
  font-family: "Unbounded", "cursive";
  font-size: 20px;
}

.caja-mapa {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #000000;
}
.caja-mapa .telefono-contacto {
  background-color: #000000;
  height: 230px;
  width: 550px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 25px;
}
.caja-mapa .telefono-contacto h2 {
  color: #ffffff;
  font-family: "Unbounded", "cursive";
  margin-bottom: 20px;
}
.caja-mapa .telefono-contacto .email-inferior {
  text-decoration: none;
  font-family: "Unbounded", "cursive";
  color: rgb(255, 255, 255);
  font-size: 15px;
}
.caja-mapa .telefono-contacto .telefono-inferior {
  text-decoration: none;
  font-family: "Unbounded", "cursive";
  color: rgb(255, 255, 255);
  font-size: 15px;
}
.caja-mapa .telefono-contacto .titulo-producto-final {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 80px;
  font-family: "Unbounded", "cursive";
}
.caja-mapa .telefono-contacto .titulo-producto-final h3 {
  color: #ffffff;
}
.caja-mapa .telefono-contacto .titulo-producto-final h1 {
  color: #e9c33a;
}

.mapa-ubi {
  height: 245px;
  padding: 20px;
  padding-top: 15px;
  border-radius: 30px;
}

.email-contacto {
  background-color: #e4e0e0;
  height: 25px;
  width: 300px;
  display: flex;
  border-radius: 5px;
  margin-left: 40px;
  margin-bottom: 90px;
}

.control-forms {
  display: column;
  margin: 12px;
  justify-content: center;
  padding: 1px;
}

/*-------------------FOOTER---------------*/
footer {
  grid-area: footer;
  background-color: #3b4d57;
  border-top: solid rgb(255, 255, 255) 1px;
  box-shadow: 0px 0px 10px #c4c2c2;
}

.caja-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  padding-top: 15px;
}
.caja-footer .logo-footer {
  padding: 20px;
}
.caja-footer .logo-footer .img-footer {
  height: 65px;
  justify-content: center;
  margin-left: 90px;
}
.caja-footer .titulo-producto2 {
  display: flex;
  align-items: center;
  font-family: "Unbounded", "cursive";
}
.caja-footer .titulo-producto2 h2 {
  font-size: 18px;
  color: #ffffff;
  margin-top: 10px;
}
.caja-footer .titulo-producto2 h1 {
  color: #e9c33a;
}

.menu-footer {
  list-style: none;
  margin-left: 200px;
  margin-right: 200px;
}
.menu-footer h2 {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  justify-content: center;
  font-family: "Montserrat", "sans-serif";
}
.menu-footer .nav-palabras2 {
  text-decoration: none;
  color: #ffffff;
  font-weight: 900;
  font-size: 17px;
  font-family: "Montserrat", "sans-serif";
  margin-right: 30px;
}
.menu-footer .nav-palabras2:hover {
  color: #e9c33a;
}

.redes-footer {
  align-items: center;
  margin-right: 140px;
}
.redes-footer a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", "sans-serif";
  font-weight: 600;
}
.redes-footer a:hover {
  color: #e9c33a;
  line-clamp: initial;
  opacity: 0.8;
}
.redes-footer h2 {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  justify-content: center;
  font-family: "Montserrat", "sans-serif";
}
.redes-footer .logo-redes {
  height: 40px;
  margin-right: 10px;
  padding-top: 10px;
}
.redes-footer .logo-redes1 {
  height: 40px;
  margin-right: 10px;
  padding-bottom: 5px;
}

.box-copyright {
  text-align: center;
  padding: 0px 40px;
  margin-bottom: 0px;
}
.box-copyright p {
  margin-top: 7px;
  color: #ffffff;
}

/*-------------------RESPONSIVE TABLET 768px---------------*/
/*-------------------HEADER---------------*/
@media (max-width: 768px) {
  .container-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 140px 874px 175px;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
  }
  header {
    width: auto;
    justify-content: space-around;
  }
  .img-header {
    display: none;
  }
  .nav-menu {
    flex-direction: column;
    align-items: center;
  }
  .nav-menu .nav-palabras {
    padding: 0;
    font-size: 10px;
    border-bottom: none;
    justify-content: center;
  }
  .nav-menu .nav-palabras:hover {
    color: #e9c33a;
  }
  .nav-menu li {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2039215686);
    margin: 2px;
    text-align: center;
    margin-right: 30px;
  }
  .boton-main {
    margin-bottom: 20px;
  }
  /*--------------MAIN TABLET--------------------*/
  main {
    width: auto;
  }
  .img-main {
    height: 200px;
  }
  .img-flecha {
    height: 60px;
  }
  .wsp-main {
    margin-left: 0px;
    position: fixed;
    margin-top: 190px;
  }
  .wsp-main .img-wsp {
    height: 30px;
  }
  .boton-main {
    font-size: 25px;
  }
  /*--------------PRODUCTOS TABLET--------------------*/
  .productos-mini {
    display: none;
  }
  .productos-superior {
    width: auto;
  }
  .productos-superior .texto-sup {
    margin-left: 0px;
    padding-left: 0px;
  }
  .productos-superior .texto-sup .titulo-producto {
    font-size: 20px;
  }
  .productos-superior .texto-sup .titulo-producto p {
    font-size: 10px;
  }
  .paquete-pacu {
    margin-left: 140px;
    width: 600px;
    margin-top: 10px;
  }
  .paquete-pacu .producto-pacu {
    height: 200px;
  }
  .paquete-seleccion {
    margin-left: 100px;
    width: 600px;
    margin-top: 10px;
  }
  .paquete-seleccion .producto-seleccion {
    height: 200px;
  }
  .textos-productos {
    font-size: 10px;
  }
  /*--------------NOSOTROS TABLET--------------------*/
  main .contenedor-sup-nosotros .texto-sup {
    margin-left: 100px;
    padding-left: 10px;
  }
  main .contenedor-sup-nosotros .texto-sup p {
    font-size: 10px;
  }
  main .contenedor-sup-nosotros .texto-sup .titulo-producto {
    font-size: 18px;
  }
  main .nosotros-fotos p {
    font-size: 12px;
    padding: 30px;
    text-align: justify;
  }
  main .nosotros-fotos .nosotros-logo {
    height: 80px;
  }
  main .nosotros-fotos .img-fabrica2 {
    height: 100px;
  }
  main .nosotros-fotos .img-fabrica2:hover {
    height: 100px;
    padding: 0px;
  }
  main .tira-azul .titulo-producto2 {
    font-size: 14px;
  }
  main .tira-azul .titulo-producto2 h2 {
    font-size: 28px;
  }
  /*--------------GALERIA TABLET--------------------*/
  .container-galeria {
    height: fit-content;
    margin-top: 20px;
    justify-content: center;
  }
  .container-galeria .galeria-1 {
    height: 270px;
  }
  .container-galeria .galeria-1 .imagenes-galeria {
    height: 270px;
  }
  .container-galeria .galeria-2 {
    height: 270px;
  }
  .container-galeria .galeria-2 .imagenes-galeria {
    height: 270px;
  }
  .container-galeria .galeria-3 {
    height: 270px;
  }
  .container-galeria .galeria-3 .imagenes-galeria {
    height: 270px;
  }
  .container-galeria .galeria-4 {
    height: 270px;
  }
  .container-galeria .galeria-4 .imagenes-galeria {
    height: 270px;
  }
  .container-galeria .galeria-5 {
    display: none;
  }
  .container-galeria .galeria-6 {
    display: none;
  }
  .container-galeria .galeria-7 {
    display: none;
  }
  .container-galeria2 {
    height: fit-content;
    margin-top: 20px;
    justify-content: center;
  }
  .container-galeria2 .galeria-8 {
    height: 270px;
  }
  .container-galeria2 .galeria-8 .imagenes-galeria {
    height: 270px;
  }
  .container-galeria2 .galeria-9 {
    height: 270px;
  }
  .container-galeria2 .galeria-9 .imagenes-galeria {
    height: 270px;
  }
  .container-galeria2 .galeria-10 {
    height: 270px;
  }
  .container-galeria2 .galeria-10 .imagenes-galeria {
    height: 270px;
  }
  .container-galeria2 .galeria-11 {
    display: none;
  }
  .container-galeria2 .galeria-12 {
    display: none;
  }
  .container-galeria2 .galeria-13 {
    display: none;
  }
  .container-galeria2 .galeria-14 {
    height: 270px;
  }
  .container-galeria2 .galeria-14 .imagenes-galeria {
    height: 270px;
  }
  /*--------------CONTACTO TABLET--------------------*/
  .caja-vender .sugerencia {
    height: 25px;
    margin-left: 0px;
  }
  .caja-vender .sugerencia p {
    font-size: 12px;
  }
  .caja-form .texto-contacto {
    height: 240px;
    width: 350px;
    justify-content: center;
    margin-left: 10px;
  }
  .caja-form .texto-contacto p {
    font-size: 18px;
    padding: 10px;
  }
  .formulario {
    width: 350px;
    height: 200px;
    margin-left: 25px;
  }
  .formulario fieldset legend {
    display: flex;
  }
  .formulario .nombre {
    width: 145px;
    border-color: #ffffff;
  }
  .formulario .apellido {
    width: 145px;
    border-color: #ffffff;
  }
  .formulario .email {
    width: 145px;
    border-color: #ffffff;
  }
  .formulario .telefono {
    width: 145px;
    border-color: #ffffff;
  }
  .formulario .motivo {
    width: 270px;
    height: 100px;
    border-color: #ffffff;
  }
  .formulario .codigo {
    width: 87px;
    border-color: #ffffff;
  }
  .formulario .provincia {
    width: 87px;
    border-color: #ffffff;
  }
  .formulario .ciudad {
    width: 88px;
    border-color: #ffffff;
  }
  .formulario .establecimiento {
    width: 318px;
    border-color: #ffffff;
  }
  .formulario .botom-form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .formulario .motivo {
    width: 318px;
    height: 40px;
    border-color: #ffffff;
  }
  .contacto-inferior {
    height: 25px;
  }
  .contacto-inferior .letra-contactos {
    font-size: 15px;
  }
  .caja-mapa .telefono-contacto {
    background-color: #000000;
    height: 260px;
    width: 550px;
    margin-top: 80px;
  }
  .caja-mapa .telefono-contacto h2 {
    font-size: 15px;
  }
  .caja-mapa .telefono-contacto .email-inferior {
    font-size: 10px;
  }
  .caja-mapa .telefono-contacto .telefono-inferior {
    font-size: 10px;
  }
  .caja-mapa .telefono-contacto .titulo-producto-final {
    margin-top: 80px;
  }
  .caja-mapa .telefono-contacto .titulo-producto-final h3 {
    font-size: 20px;
  }
  .caja-mapa .telefono-contacto .titulo-producto-final h1 {
    font-size: 20px;
  }
  .mapa-ubi {
    height: 260px;
    width: 400px;
    margin-left: 10px;
  }
  /*---------------FOOTER TABLET-------------------*/
  footer {
    width: auto;
  }
  .caja-footer {
    margin-right: 10px;
  }
  .caja-footer .logo-footer {
    display: none;
  }
  .caja-footer .menu-footer {
    list-style: none;
    margin-left: 160px;
    margin-right: 60px;
  }
}
/*-------------------RESPONSIVE MOBILE 360px---------------*/
/*-------------------HEADER---------------*/
@media (max-width: 360px) {
  .container-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 110px 520px 150px;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
  }
  header {
    width: auto;
    justify-content: space-around;
  }
  header .img-header {
    display: none;
  }
  header .nav-menu {
    flex-direction: column;
    align-items: center;
  }
  header .nav-menu li {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2039215686);
    margin: 1px;
    text-align: center;
    margin-right: 30px;
  }
  header .nav-menu li .nav-palabras {
    padding: 0;
    font-size: 10px;
  }
  /*-----------MAIN MOBILE-----------------------*/
  main {
    width: auto;
  }
  main .container-main .logo-main .img-main {
    height: 200px;
    margin-top: -50px;
  }
  main .container-main .img-flecha {
    height: 60px;
  }
  main .container-main .wsp-main {
    margin-left: 0px;
    position: fixed;
    margin-top: 110px;
  }
  main .container-main .wsp-main .img-wsp {
    height: 20px;
  }
  main .container-main .boton-main {
    font-size: 20px;
  }
  main .container-main .boton-main:hover {
    color: white;
    font-size: 25px;
    cursor: pointer;
  }
  /*--------------PRODUCTOS MOBILE--------------------*/
  .productos-mini {
    display: none;
  }
  .productos-superior {
    width: auto;
    height: 150px;
  }
  .productos-superior .texto-sup {
    margin-left: 0px;
    padding-left: 0px;
    font-size: 10px;
  }
  .productos-superior .texto-sup p {
    font-size: 8px;
  }
  .productos-superior .texto-sup .titulo-producto {
    font-size: 10px;
  }
  .productos-superior .texto-sup .titulo-producto h2 {
    font-size: 20px;
  }
  .textos-productos {
    font-size: 6px;
    padding: 0px;
    margin-bottom: 0px;
  }
  .textos-productos li {
    padding: 0px;
    margin-bottom: -10px;
  }
  .paquete-pacu {
    margin-left: 20px;
    width: auto;
    margin-top: 0px;
    height: 200px;
    margin-bottom: -30px;
    margin-top: -10px;
    margin-right: 0px;
  }
  .paquete-pacu .producto-pacu {
    height: 130px;
  }
  .paquete-seleccion {
    margin-left: 4px;
    width: auto;
    margin-top: 0px;
    height: 200px;
  }
  .paquete-seleccion .producto-seleccion {
    height: 130px;
  }
  /*--------------NOSOTROS MOBILE--------------------*/
  main .contenedor-sup-nosotros {
    height: 140px;
  }
  main .contenedor-sup-nosotros .texto-sup {
    margin-left: 20px;
    padding-left: 5px;
  }
  main .contenedor-sup-nosotros .texto-sup p {
    font-size: 8px;
  }
  main .contenedor-sup-nosotros .texto-sup .titulo-producto {
    font-size: 10px;
  }
  main .nosotros-fotos {
    height: 105px;
  }
  main .nosotros-fotos p {
    font-size: 6px;
    padding: 5px;
    text-align: justify;
  }
  main .nosotros-fotos .nosotros-logo {
    height: 40px;
    margin-left: 15px;
  }
  main .nosotros-fotos .img-fabrica2 {
    height: 50px;
    margin-right: 30px;
  }
  main .nosotros-fotos .img-fabrica2:hover {
    height: 50px;
    padding: 0px;
  }
  main .tira-azul {
    height: 20px;
  }
  main .tira-azul .titulo-producto2 {
    font-size: 7px;
  }
  main .tira-azul .titulo-producto2 h2 {
    font-size: 14px;
  }
  /*--------------GALERIA MOBILE--------------------*/
  .container-galeria {
    height: fit-content;
    margin-top: 30px;
    justify-content: center;
    margin-left: 2px;
  }
  .container-galeria .galeria-1 {
    height: 120px;
  }
  .container-galeria .galeria-1 .imagenes-galeria {
    height: 120px;
  }
  .container-galeria .galeria-2 {
    height: 120px;
  }
  .container-galeria .galeria-2 .imagenes-galeria {
    height: 120px;
  }
  .container-galeria .galeria-3 {
    height: 120px;
  }
  .container-galeria .galeria-3 .imagenes-galeria {
    height: 120px;
  }
  .container-galeria .galeria-4 {
    height: 120px;
  }
  .container-galeria .galeria-4 .imagenes-galeria {
    height: 120px;
  }
  .container-galeria .galeria-5 {
    display: none;
  }
  .container-galeria .galeria-6 {
    display: none;
  }
  .container-galeria .galeria-7 {
    display: none;
  }
  .container-galeria2 {
    height: fit-content;
    margin-top: 10px;
    justify-content: center;
    margin-left: 2px;
  }
  .container-galeria2 .galeria-8 {
    height: 120px;
  }
  .container-galeria2 .galeria-8 .imagenes-galeria {
    height: 120px;
  }
  .container-galeria2 .galeria-9 {
    height: 120px;
  }
  .container-galeria2 .galeria-9 .imagenes-galeria {
    height: 120px;
  }
  .container-galeria2 .galeria-10 {
    height: 120px;
  }
  .container-galeria2 .galeria-10 .imagenes-galeria {
    height: 120px;
  }
  .container-galeria2 .galeria-11 {
    display: none;
  }
  .container-galeria2 .galeria-12 {
    display: none;
  }
  .container-galeria2 .galeria-13 {
    display: none;
  }
  .container-galeria2 .galeria-14 {
    height: 120px;
  }
  .container-galeria2 .galeria-14 .imagenes-galeria {
    height: 120px;
  }
  /*--------------CONTACTO TABLET--------------------*/
  .caja-vender .sugerencia {
    height: 15px;
    margin-left: 0px;
  }
  .caja-vender .sugerencia p {
    font-size: 6px;
  }
  .caja-form .texto-contacto {
    display: none;
  }
  .caja-form .texto-contacto p {
    font-size: 8px;
    padding: 3px;
  }
  .formulario {
    width: 180px;
    height: 155px;
    margin-left: -5px;
    margin-top: -25px;
  }
  .formulario fieldset legend {
    display: flex;
  }
  .formulario .nombre {
    width: 145px;
    border-color: #ffffff;
    margin-bottom: -15px;
    height: 15px;
  }
  .formulario .apellido {
    width: 145px;
    border-color: #ffffff;
    margin-bottom: -15px;
    height: 15px;
  }
  .formulario .email {
    width: 145px;
    border-color: #ffffff;
    margin-bottom: -15px;
    height: 15px;
  }
  .formulario .telefono {
    width: 145px;
    border-color: #ffffff;
    margin-bottom: -15px;
    height: 15px;
  }
  .formulario .motivo {
    width: 270px;
    height: 100px;
    border-color: #ffffff;
    margin-bottom: -15px;
    height: 15px;
  }
  .formulario .codigo {
    width: 87px;
    border-color: #ffffff;
    margin-bottom: -15px;
    height: 15px;
  }
  .formulario .provincia {
    width: 87px;
    border-color: #ffffff;
    margin-bottom: -15px;
    height: 15px;
  }
  .formulario .ciudad {
    width: 88px;
    border-color: #ffffff;
    margin-bottom: -15px;
    height: 15px;
  }
  .formulario .establecimiento {
    width: 318px;
    border-color: #ffffff;
    margin-bottom: -15px;
    height: 15px;
  }
  .formulario .botom-form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: -15px;
  }
  .formulario .motivo {
    width: 318px;
    height: 30px;
    border-color: #ffffff;
    margin-bottom: -15px;
  }
  .contacto-inferior {
    height: 25px;
  }
  .contacto-inferior .letra-contactos {
    font-size: 15px;
  }
  .caja-mapa .telefono-contacto {
    height: 140px;
    width: 150px;
    margin-top: 20px;
    margin-left: -5px;
  }
  .caja-mapa .telefono-contacto h2 {
    font-size: 8px;
  }
  .caja-mapa .telefono-contacto .email-inferior {
    font-size: 6px;
  }
  .caja-mapa .telefono-contacto .telefono-inferior {
    font-size: 6px;
  }
  .caja-mapa .telefono-contacto .titulo-producto-final {
    margin-top: 40px;
  }
  .caja-mapa .telefono-contacto .titulo-producto-final h3 {
    font-size: 8px;
  }
  .caja-mapa .telefono-contacto .titulo-producto-final h1 {
    font-size: 8px;
  }
  .mapa-ubi {
    height: 150px;
    width: 200px;
    margin-left: 5px;
    margin-top: -28px;
  }
  /*--------------FOOTER MOBILE--------------------*/
  footer {
    width: auto;
  }
  footer .logo-footer {
    display: none;
  }
  footer .menu-footer {
    list-style: none;
  }
  footer .menu-footer .nav-palabras2 {
    font-size: 10px;
  }
  footer .nav-palabras2 {
    font-size: 10px;
  }
  footer .redes-footer .logo-redes {
    height: 30px;
  }
  footer .redes-footer .logo-redes1 {
    height: 30px;
  }
  footer .box-copyright p {
    font-size: 10px;
    margin-top: 0px;
  }
  footer .box-copyright b {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
