
/*----------------------COLORES------------------------*/

$bg-principal: #3b4d57;
$bg-yellow: #e9c33a;
$bg-main: linear-gradient(to right bottom, #3b4d57, #355366, #305876, #305c86, #365f96);
$bg-galeria: #305876;

/*----------------------TIPOGRAFIAS Y FUENTES------------------------*/

$font-header: "Montserrat", "sans-serif";
$font-marca: "Unbounded", "cursive";
$font-button: 'Bangers', "cursive";
$font-texto-general: "Gill Sans", 'Gill Sans MT', "Calibri", 'Trebuchet MS', "sans-serif";

