.imagenes-galeria{
    grid-area: galeria;
    height: 310px;
    padding: 2px;
    box-shadow: 1px 0px 15px 3px rgba(255, 255, 255, 0.2);
    object-fit: contain;
    transition: transform 0.5s;
}

.container-galeria{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    overflow:visible;
    color: $bg-galeria;
}

.container-galeria2{
    display: flex;
    color: $bg-galeria;
    justify-content: space-around;
    padding-top: 20px;
    overflow: visible;
    padding-bottom: 20px;
}

.imagenes-galeria:hover{
    transform: rotate(10deg) scale(1.2);
}
