.container-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 888px 220px;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}